@page
@model Server_temp.Pages.Admin
@{
    ViewData["Title"] = "Admin";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Admin Page</h2>
    <p>Welcome to the admin page!</p>

    <form method="post" class="adminForm">
        <p id="Filter-By">Filter By:</p><br>
        <input type="hidden" name="isFilter" value="true" />
        <label for="Id">Id:</label><br>
        <input type="number" name="Id" /><br>

        <label for="Username">Username:</label><br>
        <input type="text" name="Username"/><br>

        <label for="FullName">Full Name:</label><br>
        <input type="text" name="FullName"/><br>

        @{
            int currentYear = DateTime.Now.Year;
        }

        <label for="birthyear">Birth:</label><br>
        <select id="birthyear" name="birthyear" >
        <option value="" disabled selected id ="birthyear">Select your birth year:</option>
        @for (int year = currentYear; year >= 1900; year--)
        {
            <option value="@year">@year</option>
        }
        </select><br>
    

        <label for="email">Email:</label><br>
        <input type="text" name="Email"/><br>
        
        <label for="role">Role</label><br>
        <select id="role" name="Role">
            <option value="" disabled selected>Role</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select><br>

        <div class="radio-row">
        <label>Gender:</label>
        <label><input type="radio" name="gender" value="male">Male</label>
        <label><input type="radio" name="gender" value="female">Female</label>
        <label><input type="radio" name="gender" value="other">Other</label>
        </div>
        
        <button type="submit">Search</button>
        <label style="font-size: 10px;">(if only one parameter is selected, just use one of the options anyway)</label>
        <div class="radio-row">
            <label>choose to Filter :</label>
            
            <label><input type="radio" name="choice" value="or" required>or</label>
            <label><input type="radio" name="choice" value="and">and</label>
        </div>
       
    </form>

    <table border="1"  class="userList">


        <thead>
            <tr style="border: 2px solid black;">
                <th style="border: 2px solid black;">Id</th>
                <th style="border: 2px solid black;">Username</th>
                <th style="border: 2px solid black;">Balance</th>
                <th style="border: 2px solid black;">Full Name</th>
                <th style="border: 2px solid black;">Email</th>
                <th style="border: 2px solid black;">Birth Year</th>
                <th style="border: 2px solid black;">Gender</th>
                <th style="border: 2px solid black;">Role</th>
                <th style="border: 2px solid black;">Delete Account</th>
                <th style="border: 2px solid black;">Change Money</th>
            </tr>
        </thead>
        <tbody> 
            @foreach (var user in Model.Users)
            {
                <tr class="userRow" style="border: 2px solid black;">
                    <td style="border: 2px solid black;">@user.Id</td>
                    <td style="border: 2px solid black;">@user.Username</td>
                    <td style="border: 2px solid black;">@user.Balance$</td>
                    <td style="border: 2px solid black;">@user.FullName</td>
                    <td style="border: 2px solid black;">@user.Email</td>
                    <td style="border: 2px solid black;">@user.BirthYear</td>
                    <td style="border: 2px solid black;">@user.Gender</td>
                    <td style="border: 2px solid black;">@user.Role</td>

                    
                    <td>
                        <form method="post">
                            <input type="hidden" name="Id" value="@user.Id" />
                            <input type="hidden" name="isDelete" value="true" />
                            <input type="hidden" name="Username" value="@user.Username" />
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                    <td>
                        <form method="post">
                            <input type="number" name="Increment"/>
                            <input type="hidden" name="Username" value="@user.Username" />
                            <button type="submit">Change Money</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>